doctype html
html
    head
        title= title
        style(type='text/css').
            body {
                font-family: sans-serif;
                line-height: 1.1em;
                background: #fefefe;
                color: #222;
                margin: 1.5em;
            }
            footer {
                margin: 3em 0 0 0;
                padding: 0.5em 0;
                border-top: 1px #888 solid;
                color: #888;
            }
    body
        block content